@media(max-width: 899px)
{
    body
    {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        font-family: 'Slabo 27px', serif;
    }

    .navigation
    {
        display: none;
    }

    .quote
    {
        display: none;
    }

    .poweredBy
    {
        display: none;
    }

    .smallIntro
    {
        display: none;
    }

    .sampleGallery
    {
        display: none;
    }

    .BusinessSide
    {
        display: none;
    }

    .helpBusiness
    {
        display: none;
    }

    .helpEducation
    {
        display: none;
    }

    .Reach
    {
        display: none;
    }

    .footer
    {
        display: none;
    }

    #navigation2
    {
        display: block;
    }

    #navigation2
    {
        display: grid;
        grid-template-columns: 40% 60%;
        background: #f31b63;
        background: -webkit-linear-gradient(to right, #f71c65, #e68041);
        background: linear-gradient(to right, #f71c65, #e68041);
    }

    .iconMenu2
    {
        width: 50px;
        height: 50px;
        margin-top: 10px
    }

    .title1
    {
        margin-top: 10px;
        margin-left: 70px;
        font-weight: 300;
        font-size: 38px;
        background: -webkit-linear-gradient(rgb(52, 99, 122), rgb(16, 26, 32));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    .navItemsforNavigation2
    {
        display: block;
    }

    .navItemsforNavigation2
    {
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 5px 0;
        background: #12c2e9;
        background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
        background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
        background-size: cover;
    
    }
    
    .menuView2
    {

        margin-left: 50px;
        margin-top: 50px;
        padding: 100px 0;
        font-size: 30px;
    }

    .closeIcon2
    {
       margin-left: 2px;
       margin-top: 50px;
    }

    #iconClose2
    {
        height: 50px;
        width: 50px;
        fill:#007bff;
    }

    .blog2
    {
        background: -webkit-linear-gradient(#3A6073, #16222A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    .github2
    {
        background: -webkit-linear-gradient(#3A6073, #16222A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    .contact2
    {
        background: -webkit-linear-gradient(#3A6073, #16222A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    .gallery2
    {
        background: -webkit-linear-gradient(#3A6073, #16222A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    .quote2
    {
        margin-top: 30px;
        margin-left: 5px;
    }

    .quoteText2
    {
        background: -webkit-linear-gradient(rgb(25, 43, 53), rgb(12, 19, 24));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        text-align: center;
    }

    .buttonToEdit2
    {
        margin: auto;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border: 1px solid #eea849;
        display:inline-block;
        cursor: pointer;
        color:#ffffff;
        font-family: 'Varela Round', sans-serif;
        font-size: 25px;
        padding: 16px 60px;
        text-decoration: none;
        background: #f46b45;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #iconRightPhone
    {
        width: 25px;
        height: 25px;
        fill: #ffffff;
    }

    .myWork2
    {
        margin-top: 5px;

    }

    .smallIntro2
    {
    
        margin-top: 40px;
        display: grid;
        grid-template-rows: 2fr 4fr; 
        background: #70e1f5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .aboutMeSmall2
    {
        
        margin-left: 20px;
        margin-top: 60px;
    }

    .motto2
    {
        font-family: 'Bree Serif', serif;
        margin-left: 10px;
        font-size: 30px;
    }

    #meetingArrow10
    {
        width: 20px;
        height: 20px;
        fill: #fff;
    }

    #btnFreeCourse2
    {
        border: 2px solid #17a2b8;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial;
        font-size: 25px;
        padding: 15px 0;
        text-decoration:none;
        background: #17a2b8;
        width: 80%;
        margin-left: 15px;
    }

    #myWork2Header
    {
        font-size: 30px;
        font: bold;
    }

    #aboutMeText2
    {
        font-size: 25px;
    }

    .imgIcons2
    {
        width: 25px;
        height: 25px;
        fill: #e7f5f8;
    }

    #image10
    {
        height: 100%;
        width: 100%;
    }

    #image11
    {
        height: 100%;
        width: 100%;    
    }

    #image12
    {
        height: 100%;
        width: 100%;
    }

    #image13
    {
        height: 100%;
        width: 100%;
    }

    #photographyText2
    {
        font-weight: 300;
        font-size: 30px;    
        border-bottom: 1px solid #28a745;  
        font-family: 'Bree Serif', serif;

    }

    #headingPicDes
    {
        font-weight: 300;
        font-size: 25px;
    }

    .picDescription2
    {
        margin-top: 20px;
    }

    #picButton
    {
        display: grid;
        justify-items: center;
    }

    #viewGalleryBtn2
    {
        border: 2px solid #28a745;
        display:inline-block;
        cursor:pointer;
        color: #fff;
        font-family:Arial;
        font-size:25px;
        padding:16px 60px;
        text-decoration:none;
        background: #28a745;
    }

    #meetingArrow21
    {
        width: 15px;
        height: 15px;
        fill: #fff
    }

    .sampleGallery2
    {
        margin-top: 20px;
    }

    .photographyGallery2
    {
        margin-top: 50px;
    }

    .picButtonsSize
    {
        margin-top: 20px;
        -moz-border-radius: 78px;
        -webkit-border-radius: 78px;
        border-radius: 78px;
        border: 2px solid #f46b45;
        display:inline-block;
        cursor: pointer;
        color:#ffffff;
        padding: 16px;
        text-decoration:none;
        background:  rgb(255, 255, 255);
    }

    .picButtons
    {
        margin-left: 115px;
    }
    
    .BusinessSide2
    {
        display: grid;
        grid-template-rows: 50% 50%;

    }

    .business2
    {
        margin-top: 55px;
        display: grid;
        justify-items: center;
        width: 100%;
        height: 460px;
        background: rgb(237, 240, 240);
        -moz-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    -webkit-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 2px rgb(194, 201, 197);
    }

    .education2
    {
        margin-top: 55px;
        display: grid;
        justify-items: center;
        width: 100%;
        height: 460px;
        background: rgb(237, 240, 240);
        -moz-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    -webkit-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    box-shadow: -4px -8px 31px -5px rgb(194, 201, 201), 10px 5px 31px 2px rgb(194, 201, 197);
    }


    #businessChev
    {
        height: 15px;
        width: 15px;
    }

    #educationChev
    {
        height: 15px;
        width: 15px;
    }

    #userTie2
    {
        height: 15px;
        width: 15px;
    }

    #users2
    {
        height: 15px;
        width: 15px;
    }

    #educationPic2
    {
        width: 275px;
        height: 150px;
        margin-top: 30px;
    }

    #businessPic2
    {
        width: 277.5px;
        height: 150px;
        margin-top: 30px;
    }

    #educationBtn2
    {
    
        margin-top: 25px;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
        border: 1px solid #0F2027;
        cursor: pointer;
        font-family: 'Varela Round', sans-serif;
        font-size: 25px;
        padding: 16px 60px;
        text-decoration: none;
        background: #0F2027;  
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        color: #fff;
    }

    #businessBtn2
    {
    
        margin-top: 25px;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border: 1px solid #0F2027;
        cursor:pointer;
        font-family: 'Varela Round', sans-serif;
        font-size: 30px;
        padding:16px 60px;
        text-decoration:none;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
    }


    #businessText2
    {
        margin-top: 30px;

    }

    #educationText2
    {
        margin-top: 30px;
    }

    .helpBusiness2
    {
        margin-top: 55px;
    }

    #helpbusinessTextHead2
    {
        font-size: 30px;
        border-bottom: 1px solid #0F2027;
        font-family: 'Bree Serif', serif;
    }

    #helpbusinessTextPara2
    {
        font-size: 25px;
    }

    #BtnBusiness2
    {
        margin-left: 35px;
        margin-top: 35px;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border: 1px solid #0F2027;
        cursor:pointer;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 30px;
        padding:16px 60px;
        text-decoration:none;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
    }

    #businessHelpImg2
    {
        margin-top: 15px;
        width: 100%;
        height: 250px;
        -moz-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    -webkit-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    box-shadow: -4px -8px 31px -5px rgb(194, 201, 201), 10px 5px 31px 2px rgb(194, 201, 197);
    }


    .helpEducation2
    {
        margin-top: 75px;
    }

    #helpEducationTextHead2
    {
        font-size: 30px;
        border-bottom: 1px solid #0F2027;
        margin-top: 45px;
        font-family: 'Bree Serif', serif;
    }

    #helpEducationTextPara2
    {
        font-size: 25px;
    }

    #BookEdCourse2
    {
        margin-left: 35px;
        margin-top: 35px;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border: 1px solid #0F2027;
        cursor: pointer;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 30px;
        padding: 16px 60px;
        text-decoration: none;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
    }

    #educationHelpImg2
    {
        margin-top: 15px;
        width: 100%;
        height: 250px;
        -moz-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    -webkit-box-shadow: -4px -8px 31px -5px rgb(194, 201, 197), 10px 5px 31px 3px rgb(194, 201, 197);
	    box-shadow: -4px -8px 31px -5px rgb(194, 201, 201), 10px 5px 31px 2px rgb(194, 201, 197);
    }

    .Reach2
    {
        display: grid;
        justify-items: center;
        margin-top: 55px;
    }

    #LetsWorkTogether2
    {
        display: grid;
        justify-items: center;
        margin-top: 35px;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border: 1px solid #0F2027;
        cursor: pointer;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 25px;
        padding: 16px 60px;
        text-decoration: none;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
    }

    #footerText2
    {
        font-size: 20px;
        color: #fff;
    }

    #footer2
    {

        margin-top: 25px;
        display: grid;
        justify-items: center;
        background: #0F2027;

    }








   

}