body
{
    height: 100%;
    width: 100%;
    background-image: url("../images/Home1.jpg");
    background-attachment:fixed;
    background-size:1220px;
}

.firstwrapper
{
    display: grid;
    grid-template-columns:1fr 3fr; 
    margin-left: 15%;
    margin-right: 3%;
    margin-top: 3%;
   
}

.sm-color
{
    color: #fff;
    margin-left: 100px;
}

.secondwrapper
{
    margin-top: 3%;
    margin-left: 6%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.nav-list2 .nav-list-item2
{
    display: inline;
}

.nav-list-item2
{
    margin-left: 50px;
}
.nav-list2
{
    margin-left: 5px;
}

.name
{
    font-size: 20px;
    margin-top: 10px;
    color: #fff;

}
.tags 
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 50px;
}

.flag_icon
{
    height: 20px;
    width: 30px;
    object-fit: cover;
    object-position: center;
}

.quText
{
    color: #fd7e14;
}

.quText:hover
{
    text-decoration: none;
    color: #fd7e14;
}
.loText
{
    color: #e83e8c;
}

.loText:hover
{
    text-decoration: none;
    color: #e83e8c;
}

.InText
{
    color: #20c997;
}

.InText:hover
{
    text-decoration: none;
    color: #20c997;
}

.fuText
{
    color: #17a2b8;
}

.fuText:hover
{
    text-decoration: none;
    color: #17a2b8;
}

.efText
{
    color: #6610f2;
}

.efText:hover
{
    text-decoration: none;
    color: #6610f2;
}

.para
{
    color: #fff;
}

.btn-x
{
    width: 150px;
}

.aboutme
{
    padding-bottom: 90px;
}

.image
{
    height: 210px;
    width: 220px;
    object-fit: cover;
    object-position: center;
    margin-left: 460px;
}

.AnText
{
    color: #fff;
}

.AnText:hover
{
    text-decoration: none;
    color: #fff;
}
