body
{
    height: 100%;
    width: 100%;
}
.ninthwrapper
{
    padding-top: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-auto-rows: 100%;
    background: #484e53;
}

.image
{
    width: 260px;
    height: 400px;
    margin: auto;
}
